.metronome,
.bpm-range {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.range-input {
  width: 100%;
}
.start-stop {
  background-color: brown;
  color: #fff;
  border: 0px solid #fff;
  padding: 10px 20px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
